<tr class="<%= cycle("even","odd") %>">
  <td><%= expense.value %> <%= expense.currency.symbol.html_safe %></td>
  <td><%= expense.date.strftime('%d.%m.%Y') %></td>
  <td><%= categories_links_for(expense) %></td>
  <td>
    <%= link_to 'Detaily', expense %> |
    <%= link_to 'Upraviť', edit_expense_path(expense) %> |
    <%= link_to 'Zmazať', expense, confirm: 'Ste si istý?', method: :delete %>
  </td>
</tr>