<%= render 'shared/form_errors', target: @expense %>

<%= form_for(@expense) do |f| %>
  <div class="field">
    <%= f.label :value, "Suma" %><br />
    <%= f.text_field :value, :size=>8 %> &euro;
  </div>
  <div class="field">
    <%= f.label :date, "Dátum" %><br />
    <%= f.date_select :date %>
  </div>
	<div class="field">
    <%= f.label :categories, "Kategórie oddelené čiarkami" %><br />
    <%= text_field_tag :categories, @assigned_categories, :size=>100, :class=>'text' %>
  </div>
  <div class="field">
    <%= f.label :description, "Popis" %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit "Uložiť" %>
  </div>
<% end %>