<h1>Listing expenses</h1>

<table>
  <tr>
    <th>Suma</th>
    <th>Dátum</th>
    <th>Kategórie</th>
    <th></th>
    <th></th>
  </tr>

<% @expenses.each do |expense| %>
  <tr>
    <td><%= expense.value %> <%= expense.currency.symbol.html_safe %></td>
    <td><%= expense.date %></td>
	  <td><%= expense.categories.join(", ") %></td>
    <td><%= link_to 'Show', expense %></td>
    <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
    <td><%= link_to 'Destroy', expense, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Expense', new_expense_path %>
