<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @expense.value %>
</p>

<p>
  <b>Date:</b>
  <%= @expense.date %>
</p>


<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
