<!DOCTYPE html>
<html>
<head>
  <title>Kolkominate.sk</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="usernav">
		<% if user_signed_in? %>
		  Ste prihlásený ako <%= current_user.email %>. Chcete sa <%= link_to "odhlásiť", destroy_user_session_path %>?
		<% else %>
			<%= link_to "Prihláste sa", new_user_session_path %> alebo sa <%= link_to "zaregistrujte", new_user_registration_path %>
		<% end %>
	</div>

	<h1>Kolkominate.sk</h1>

	<% if flash[:notice] %>
		<p class="notice"><%= flash[:notice] %></p>
	<% end  %>
	<% if flash[:alert] %>
		<p class="alert"><%= flash[:alert] %></p>
	<% end %>

	<%= yield %>

</body>
</html>
